@use "sass:math";
@import "@mixins";
@import "@icons";
@import "@styles-variables";

.page__mainBlock {}

.mainBlock {
  @include adaptiveValue("margin-top", 55, 20, 1200, 767.98, 1);
  @include adaptiveValue("padding-bottom", 110, 20, 1200, 767.98, 1);

  @media (max-width:$mobile) {
    padding-bottom: 0;
  }

  &__container {}

  &__body {
    display: grid;
    position: relative;
    grid-template-columns: minmax(rem(615), 1fr) 1fr;

    @media (max-width:$tablet) {
      grid-template-columns: rem(515) 1fr;
    }

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    margin: 0px 0px rem(20) 0px;

    @media (min-width: rem(767.98)) {
      margin: 0px rem(15) 0px 0px;
    }
  }

  &__image {
    display: flex;
    background: linear-gradient(356.24deg, #206bc4 27.12%, #0b2391 98.27%);
    border: 6px solid #56d7ff;
    border-radius: 250px;
    height: 300%;
    position: absolute;
    right: -240%;
    top: -178%;
    transform: rotate(-45deg);
    width: 300%;

    img {
      left: 5%;
      top: 2%;
      position: absolute;
      transform: rotate(45deg);
    }

    @media (max-width:$tablet) {
      right: -215%;
      top: -290%;
      transform: rotate(-75deg);

      img {
        left: 5%;
        top: 1%;
        width: 10%;
        transform: rotate(75deg);
      }
    }

    @media (max-width:$mobile) {
      right: unset;
      top: unset;
      transform: none;
      width: 100%;
      height: 100%;
      position: relative;
      justify-content: center;
      background: none;
      border: none;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: rem(600);
        // padding-bottom: percent(600, 1200);
        height: rem(600);
        transform: translate(-50%, 0px);
        border-radius: 50%;
        background: linear-gradient(356.24deg, #206bc4 27.12%, #0b2391 98.27%);
        border: 6px solid #56d7ff;
      }

      img {
        transform: none;
        position: relative;
        top: unset;
        left: unset;
        width: 60%;
        z-index: 2;
        margin: rem(20) 0px;
      }
    }
  }

  &__title {
    @include adaptiveValue("font-size", 56, 25);
    font-weight: 700;
    line-height: math.div(62, 56);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 56, 15, 1200, 767.98, 1);
    }

    span {
      color: #2265ce;
    }
  }

  &__list {
    @include adaptiveValue("margin-bottom", 65, 20, 1200, 767.98, 1);
    max-width: rem(400);

    li {
      position: relative;

      &:not(:last-child) {
        margin-bottom: rem(35);

        @media (max-width:$tablet) {
          margin-bottom: rem(25);
        }

        @media (max-width:$mobile) {
          margin-bottom: rem(15);
        }
      }

      &::before {
        @extend %ic;
        content: "\e906";
        position: absolute;
        top: rem(7);
        left: 0;
        font-size: rem(17);
        color: rgb(34, 101, 206);
      }
    }
  }

  &__text {
    padding: 0px 0px 0px rem(30);
    font-size: rem(22);
    line-height: math.div(28, 22);

    span {
      color: #0b294f;
      font-weight: 600;
    }

    @media (max-width:$tablet) {
      font-size: rem(18);
      padding: 0px 0px 0px rem(25);
    }

    @media (max-width:$mobile) {
      font-size: rem(16);
      padding: 0px 0px 0px rem(20);
    }
  }
}