%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-user:before {
  content: "\e900";
}

._icon-telegram:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-clock:before {
  content: "\e903";
}

._icon-arrow-left:before {
  content: "\e904";
}

._icon-basket:before {
  content: "\e905";
}