@import '@styles/base/mixins.scss';

.pageNotFound {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A202C;

  &__container {
    max-width: rem(320) !important;

  }

  &__title {
    color: rgb(160, 174, 192);
    font-family: "Nunito";
    font-weight: 400;
    letter-spacing: .05em;
    font-size: rem(18);
    line-height: 1.5;
  }

  &__errorText {
    padding: 0px rem(16);
    display: inline-block;

    &:not(:last-child) {
      margin-right: em(16, 18);
      border-right: 1px solid rgb(203, 213, 224);
    }
  }
}