//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  padding: rem(13) rem(35);
  font-size: rem(16);
  line-height: math.div(20, 16);
  border-radius: 16px;
  background-color: #ffda44;
  font-size: rem(22);
  line-height: math.div(28, 26);
  transition: background-color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #e0c03c;
    }
  }

  &_min {
    padding: rem(14) rem(20);

    @media (max-width:$pc) {
      font-size: rem(20);
      padding: rem(14) rem(10);
    }
  }

  &_blue {
    background-color: #2265ce;
    color: #fff;

    @media (any-hover: hover) {
      &:hover {
        background-color: #1b52ab;
      }
    }
  }

  &_red {
    background-color: rgb(255, 0, 0);
    color: #fff;

    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(200, 0, 0);
      }
    }
  }

  &_grey {
    background-color: #e9e9e9;

    @media (any-hover: hover) {
      &:hover {
        background-color: #C8C8C8;
      }
    }
  }

  &_small {
    padding: rem(9) rem(11);
    font-size: 14px;
    border-radius: 10px;
  }

  &_big {
    padding: rem(15) rem(75);
  }

  &._fw {
    width: 100%;
  }
}